---
layout: default
title: Henry Sebesta
---
<h1>{{ page.title }}</h1>

{% assign pg_directory = page.dir | remove_first: '/' %}

{% for item in site.pages %}
{% if item.path contains pg_directory %}
{% unless item.path contains "index" %}
<h3>{{ item.title }}</h3>
{{ item.content | markdownify }}
{% endunless %}
{% endif %}
{% endfor %}

<h3>Images</h3>
{% for item in site.static_files %}
{% if item.path contains pg_directory %}
{% if item.name contains "jpg" or item.name contains "png" %}
<img src="{{ item.path }}">
{% endif %}
{% endif %}
{% endfor %}