<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- Title & SEO -->
    {% seo %}

    <!-- Feed -->
    <link href="/feed.xml" rel="alternate" type="application/atom+xml" title="Bryan Sebesta" />

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/ror6vrt.css">

</head>


<body>

    <nav id="main-nav">
        <a href="/" class="banner-title">Bryan's Digital Garden</a>
        {% for link in site.data.nav %}
        <a href="{{ link.link }}">{{ link.slash_name }}</a>
        {% endfor %}
    </nav>

    <!-- Header
    <header class="hero">
        <section>
            <span class="hero-accent">My name is Bryan.</span><br>
            I read, write and design.<br>
        </section>
    </header>
    -->

    <main>