<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- Title & SEO -->
    {% seo %}

    <!-- Feed -->
    <link href="/feed.xml" rel="alternate" type="application/atom+xml" title="Bryan Sebesta" />

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/ror6vrt.css">

</head>

{% if page.sidebar %}

<body id="body-with-sidebar">{% else %}

    <body id="body-no-sidebar">{% endif %}

        <div class="banner-bg {% if page.sidebar %}banner-bg-sidebar{% else %}banner-bg-default{% endif %}"></div>

        <!-- Banner Navigation, Level 1 -->
        <div class="banner">
            <nav class="banner-title">
                <span><a href="/">Bryan's Digital Garden</a></span>
            </nav>
            <nav class="banner-nav">
                {% for link in site.data.nav %}
                <span><a href="{{ link.link }}">{{ link.slash_name }}</a></span>
                {% endfor %}
            </nav>
        </div>

        <!-- Header
    <header class="hero">
        <section>
            <span class="hero-accent">My name is Bryan.</span><br>
            I read, write and design.<br>
        </section>
    </header>
    -->

        <main>