body {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    font-family: 'Merriweather', serif;
}
main {
    width: 50vw;
    padding: 30px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 8px;
    border-top: 8px solid #bbb;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
time {
    font-style: italic;
    display: block;
    margin-top: 2rem;
}
nav a {
    padding: 0 .5rem;
}
.current {
    color: red;
    font-weight: bold;
}
